#AlertNumberwork {
  height: 29px;
  background-color: #4e9dfb;
}
#Alert {
  background-color: #4e9dfb;
  border: 3px solid white;
  border-radius: 7px;
  direction: rtl;
  font-size: 16px;
  position: relative;
  bottom: 20px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
#DivParentInputCreatework {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
  bottom: 25px;
}
#BtnWork {
  /* width: 100%;
    height: 100%; */
  /* text-align: center; */
  font-size: 15px;
  border-radius: 7px;
  padding-top: 1px;
  background-color: #4e9dfb;
}

#DivBtnResult {
  display: flex;
  justify-content: center;
}

#divinputCreateNewWork {
  background-color: white;
  width: 600px;
  height: 50px;
  opacity: 0.8;
  color: white;
  border-radius: 45px;
  direction: rtl;
}

#divinputCreateNewWork > input {
  color: black;
  border-radius: 5px;
  margin-top: 8px;
  /* width: 500px; */
  font-family: "vazir";
  height: 35px;
  border: none;
  outline: none;
  padding-right: 10px;
  caret-color: #4e9dfb;
}

#divinputCreateNewWork > input::placeholder {
  padding-right: 8px;
  font-family: "vazir";
}
#divinputCreateNewWork button {
  position: relative;
  right: 547px;
  bottom: 42px;
  width: 32px;
  height: 32px;
  background-color: #4e9dfb;
}
#SvgPlus {
  width: 17px;
  height: 17px;
  position: relative;
  /* margin-bottom: 1.5rem; */
  top: -0.8rem;
  left: 0.15rem;
  fill: white;
}
#div111 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  position: relative;
  /* visibility: hidden; */
  bottom: 30px;
}
#scrollbar {
  background-color: white;
  border-radius: 12px;
  height: 300px;
}
#scrollbar>div>h6 {
  font-family:"vazir";
}

#scrollbar::-webkit-scrollbar {
  width: 10px;
}

#scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(6, 98, 218, 0.603);
  border-radius: 50px;
  box-shadow: 0 0px 1px 0 black;
}

#scrollbar::-webkit-scrollbar {
  width: 5px;
}

#scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(6, 98, 218, 0.603);
  border-radius: 50px;
  box-shadow: 0 0px 1px 0 black;
}

#SvgEmpty {
  width: 50px;
  height: 50px;
  position: relative;
  left: 170px;
  top: 100px;
  color: #bfbfbf;
  margin-bottom: 0.6rem;
}
@media only screen and (max-width: 603px) {
 #DivParentInputCreatework {
    position: relative;
    top: 5px;
  }
    #divinputCreateNewWork {
    max-width: 350px;
  }

  #divinputCreateNewWork button {
    position: relative;
    right: 300px;
  }
   #div111 div {
    width: 300px;
  }
    #SvgEmpty {
    position: relative;
    left: 130px;
  }
}
@media only screen and (max-width: 1200px) {

  #DivBtnResult {
    position: relative;
    bottom: 13px;
  }
  
  #div111 > div:nth-child(3) {
    position: relative;
    margin-bottom: 50px;
  }
   #div111 > div:nth-child(3) {
    position: relative;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 380px) {
  #divinputCreateNewWork {
    width: 260px;
  }

  #divinputCreateNewWork button {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  #div111 > div:nth-child(2) {
    position: relative;
    margin-bottom: 50px;
  }
}